body{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

div{
    height: 500px;
    border: 2px solid black; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    font-family: 'Times New Roman';
    background-color: rgb(171, 227, 206);
    font-size: 90px;
    font-weight: 700;
}