*{
    margin: 0;
    padding: 0;
}
#FULL{
    height: 100vh;
    width: 100%;
    display: inline-flex;
}
a{
    text-decoration: none;
}
#sidePanel a {
    width: 80%;
}



#sidePanel{
    background-color: rgb(164, 243, 84);
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sidePanelElement:hover {
    color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0 8px 15px;
    transform: translateY(-5px);
}
.sidePanelElement:active {
    box-shadow: none;
    transform: translateY(0);
}
.sidePanelElement{
    height: 150px;
    width: 100%;
    color: white;
    background-color: rgb(72, 138, 6);
    font-weight: 900;
    margin: 5px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 200ms cubic-bezier(.23, 1, 0.32, 1);
}




#centerPanel{
    background-color:wheat;
    width: calc(100% - 400px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
}
#centerPanelElement{
    height: 500px;
    width: 700px;
}
.centerPanelElement{
    height: 50px;
    width: 100%;
    margin: 10px;
    display: flex;
    align-items: center;
}


#Name{
    background-color:wheat;
    display: flex;
    justify-content: center;
    font-size: 250%;
    font-family: 'Times New Roman', Times, serif;
}

#inputPlace{
    height: 50px;
    width: 100%;
    font-size: 100%;
    padding-left: 10px;
    font-family: system-ui;
    background-color:white;
}

.searchSelect{
    margin-left: 1px;
    height: 50px;
    width: 400px;
    font-family: Arial;
    text-align: center;
    font-size: medium;
}
#convert2nd{
    justify-content: space-between;
}
#convert1st{
    justify-content: space-between;
}
#convertFrom{
    font-family: fira code;
    font-weight: 700;
    font-size: 110%;
    margin-left: 0px;
    margin-right: 5px;
}
#convertTo{
    font-family: fira code;
    font-weight: 700;
    font-size: 110%;
    margin-left: 2px;
    margin-right: 29px;
}


#convert1st{
    background-color:wheat;
}
#convert2nd{
    background-color:wheat;
}




#mainButton:hover {
    color: white;
    background-color: rgb(72, 138, 6);
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
#mainButton:active {
    box-shadow: none;
    transform: translateY(0);
}
#mainButton{
    background-color:rgb(164, 243, 84);
    height: 50px;
    width: 100%;
    font-size: 120%;
    font-weight: 900;
    font-family: fira code;
    transition: all 100ms cubic-bezier(.23, 1, 0.32, 1);
}




#Output{
    background-color:rgb(212, 183, 130);
    display: flex;
    justify-content: center;
    font-size: 180%;
    font-family: 'Times New Roman', Times, serif;
}