*{
    margin: 0;
    padding: 0;
}
#FULL{
    height: 100vh;
    width: 100%;
    display: inline-flex;
}
a{
    text-decoration: none;
}
#sidePanel a {
    width: 30vmin;
}



#sidePanel{
    background-color: rgb(164, 243, 84);
    width: 45vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sidePanelElement:hover {
    color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0 8px 15px;
    transform: translateY(-5px);
}
.sidePanelElement:active {
    box-shadow: none;
    transform: translateY(0);
}
.sidePanelElement{
    height: 25vmin;
    width: 30vmin;
    color: white;
    background-color: rgb(72, 138, 6);
    font-weight: 900;
    font-size: 3vmin;
    margin: 2vmin;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 200ms cubic-bezier(.23, 1, 0.32, 1);
}




#centerPanel{
    background-color:wheat;
    width: calc(100% - 40%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 25vmin;
}
#centerPanelElement{
    height: 500vmin;
    width: 90vmin;
}
.centerPanelElement{
    height: 8vmin;
    width: 90vmin;
    margin: 10px;
    display: flex;
    align-items: center;
}


#Name{
    background-color:wheat;
    height: 8vmin;
    width: 89vmin;
    display: flex;
    justify-content: center;
    font-size: 6vmin;
    font-family: 'Times New Roman', Times, serif;
}

#inputPlace{
    height: 8vmin;
    width: 89vmin;
    font-size: 3vmin;
    padding-left: 2vmin;
    font-family: system-ui;
    background-color:white;
}

.searchSelect{
    margin-left: 1px;
    height: 8vmin;
    width: 40vmin;
    font-size: 3vmin;
    margin-left: 1vmin;
    font-family: Arial;
    text-align: center;
}
#convert2nd{
    justify-content: space-between;
}
#convert1st{
    justify-content: space-between;
}
#convertFrom{
    font-family: fira code;
    font-weight: 700;
    font-size: 3vmin;
    margin-left: 1vmin;
    margin-right: 2vmin;
}
#convertTo{
    font-family: fira code;
    font-weight: 700;
    font-size: 3vmin;
    margin-left: 1vmin;
    margin-right: 2vmin;
}




#mainButton:hover {
    color: white;
    background-color: rgb(72, 138, 6);
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
#mainButton:active {
    box-shadow: none;
    transform: translateY(0);
}
#mainButton{
    background-color:rgb(164, 243, 84);
    height: 8vmin;
    width: 90vmin;
    font-size: 4vmin;
    font-weight: 900;
    font-family: fira code;
    transition: all 100ms cubic-bezier(.23, 1, 0.32, 1);
}




#Output{
    background-color:rgb(212, 183, 130);
    display: flex;
    justify-content: center;
    font-size: 4vmin;
    font-family: 'Times New Roman', Times, serif;
}